@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background: #ffffff;
  --secondaryBackground: #E5E5E5;
  --bgOpposite : #202020;
  --bgSecondaryOpposite : #2A2A2A;
  --font-color: black;
}

.dark {
 
  --background: #202020;
  --secondaryBackground : #2A2A2A;
  --bgOpposite : #ffffff;
  --bgSecondaryOpposite : #E5E5E5;
  --font-color: white;
}

body {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
