@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --font-color: #3b3b3b;
}

.dark {
  --background: #202020;
  --font-color: #eaeaea;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
